.git
dist
.github
.husky
.vscode
node_modules
src/tests
.dockerignore
.editorconfig
.env.example
.gitignore
.lintstagedrc.mjs
.nvmrc
.prettierrc.json
commitlint.config.js
compose.yml
Dockerfile
eslint.config.mjs
jest.*
Readme.md
